#overallimage {
  width: 1360px;
  height: 480px;
  margin: auto;
  background-image: url("https://desktime.com/assets/img/index/header.svg");
  text-align: center;
}
#overallimage > #text > h1 {
  padding-top: 90px;
  color: white;
}
#overallimage > #text > p {
  color: white;
  width: 750px;
  margin: auto;
}
#overallimage > #text > #email {
  width: 250px;
  margin-top: 20px;
  height: 30px;
  margin-right: 15px;
  margin-bottom: 15px;
}
#overallimage > #text > #free {
  width: 200px;
  font-weight: bolder;
  color: white;
  background-color: greenyellow;
  height: 40px;
}
#bodys {
  display: grid;
  width: 80%;
  padding-left: 100px;
  margin: auto;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 350px);
  margin-top: 5px;
  text-align: center;
}
#bodys > div {
  margin: auto;
  text-align: center;
  width: -30px;
}
#bodys > div > h3 {
  width: 280px;
  text-align: center;
}
#bodys > div > p {
  width: 320px;
  text-align: center;
}
#ob {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-bottom: 95px;
}
#ob > #buttons {
  width: 80%;
  margin: auto;

  text-align: left;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 50px);
  gap: 10px;
  
}
#ob > #buttons>button{
    background-color: white;
    border: 0.2px solid gray;
    font-weight: bolder;
    font-size: medium;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;

}
#ob > #buttons>button:hover{
    cursor: pointer;
    color: green;
}
#indepth{
    width: 80%;
    margin: auto;
    margin-bottom: 100px;
}
#indepth>#att{
    display: flex;
}
#indepth>#att>#text>p{
    width: 500px;
    line-height: 25px;
}
#indepth>#att>#text>button{
    background-color: green;
    height: 50px;
    width: 250px;
    color: white;
    font-weight: bolder;
}
#indepth>#att>#img{
    margin: auto;
    
}
#twd{
    
    background-color: #2693f8;
    height: 60px;
    text-align: center;
    padding:15px;
    margin: auto;
    color: white;
    margin-bottom: 30px;
}
#url{
    width: 80%;
    margin: auto;
    margin-bottom: 100px;
}
#url>#all{
    display: flex;
    width: 80%;
    margin: auto;
}
#url>#all>#text{
    margin: auto;
    margin-left: 90px;
}
#url>#all>#text>p{
width: 500px;
line-height: 25px;
}
#url>#all>#text>button{
    background-color: green;
    height: 50px;
    width:250px;
    color: white;
    font-weight: bolder;
}
